/*Login and Signup style*/

.top-area{
    background-color: rgb(237, 224, 247);
    border-radius:0 0 40% 40%;
    height:30vh;
    box-shadow:1px 1px 20px  rgb(154,0,255);
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
.fa-arrow-left{
    padding-top:15px;
    font-size:35px;
    color:rgb(204,0,255);
    float:right;
}
.brand-img{
    width:120px;
    height:120px;
}
.brand-name{
    font-size:30px;
    font-family: 'Lobster', cursive;
}
.brand-tag{
    font-size:20px;
    font-family: 'Lobster', cursive;
}
.login-form{
    margin-top:10%;
    width:100%;
    overflow: hidden;
}
.input-tag{
    width:100%;
    height:50px;
    border-radius:20px;
    margin-top:10px;
    padding:10px;
    border:1px solid rgb(154,0,255);
    box-shadow:1px 1px 20x rgb(154,0,255);
    outline:none;
}
.login-btn{
    width:100%;
    border-radius:20px;
    margin-top:10px;
    padding:12px;
    outline:none;
    border:none;
    background:  rgb(154,0,255);
    color:#fff;
    font-family: 'Lobster', cursive;
    font-size:20px;
}
.login-btn:hover{
    background:  rgb(182, 81, 250);
    cursor: pointer;
    transition: .3s;
}
.or-div{
    display: flex;
    justify-content: center;
    align-content: center;
}
.or-btn{
    /* margin:7px; */
    width:50px;
    height:50px;
    padding:5px;
    border-radius:50%;
    outline:none;
    font-family: 'Lobster', cursive;
    border:1px solid rgb(182, 81, 250);
    box-shadow:1px 1px 20px rgb(154,0,255);
}

/*Login and Signup style*/

/*Search Page*/
.search-area{
    overflow:hidden;
    padding:10px;
}
.search-box{
    width:100%;
    height:50px;
    padding:10px;
    border-radius:10px;
    border:none;
    outline:none;
    box-shadow:1px 1px 5px  rgb(154,0,255);
}

.typing-area{
    position:fixed;
    bottom:0;
    width:100%;
}
.input{
    width:78%;
    margin-bottom: 10px;
    padding:10px;
    border-radius:10px;
    border:none;
    outline:none;
    box-shadow:1px 1px 5px #232323;
    margin-right:5px;
}
.sendbtn{
    padding:8px;
    width:15%;
    border-radius:10px;
    border:none;
    outline:none;
    box-shadow:1px 1px 5px #232323;
    background-color:rgb(154,0,255);
    color:#ffff;
}
.single-user{
    padding:5px;
    padding-left:15px;
    border-bottom:1px solid lightgray;
}

.friend{
    font-size:25px;
    padding:10px;
    text-transform: capitalize;
    color:rgb(154,0,255);
    font-weight: 600;

}
.namearea{
    padding-top:20px;
}
.namearea:hover{
    text-decoration: none;
}

.model-container{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:99;
    background-color: rgba(0,0,0,0.5);
}
.mycard{
    margin:200px auto;
    width:90%;
    height:300px;
    padding-top:100px;
    border-radius: 20px;
    background-color: #fff;
}
.mycard h5{
    color:rgb(154,0,255);
    /* color:rgb(48, 3, 78); */
    font-family: 'Lobster', cursive;
    font-size:20px;
    
}
.model-btn{
    padding:8px;
    width:15%;
    border-radius:10px;
    border:none;
    outline:none;
    box-shadow:1px 1px 5px #232323;
    background-color:rgb(154,0,255);
    color:#ffff;
    cursor: pointer;
}
.message-area{
    overflow-y:scroll;
    margin-top:10px;
    margin-bottom:40px;
    height:78vh;
}

.rightbox{
    padding:20px;
    font-size:15px;
    margin:10px auto;
    background:rgb(66, 1, 109);
    color:#fff;
    float:right;
    display:block;
    width:60%;
    border-radius: 20px;
    word-wrap: break-word;
    overflow:hidden;
}
.leftbox{
    display:block;
    padding:20px;
    margin:10px auto;
    
    width:60%;
    font-size:15px;
    background:rgb(186, 108, 238);
    color:#fff;
    float:left;
    border-radius: 20px;
    word-wrap: break-word;
    overflow:hidden;
}

.fa-power-off,.fa-envelope{
    padding-top:15px;
    font-size:35px;
    color:rgb(204,0,255);
}

.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 20px;
}
.profile-img img{
    width:300px;
    height:300px;
    border-radius: 50%;
}
.userdetails{
    box-shadow: 1px 1px 5px lightgray;
}
.userdetails p{
    border-bottom:1px solid lightgray;
    padding:10px;
    font-size:23px;
}
.logoutbtn{
    position:fixed;
    bottom:0;
    z-index:9999;
    width:100%;
    border:none;
    box-shadow:1px 1px 30px lightgray;
    background-color: rgba(255, 0, 0, 0.829);
    padding:10px;
    text-align: center;
}
.logoutbtn p{
    font-size:25px;
    color:#fff;
    font-family: 'Lobster', cursive;
}

.errorwrapper{
    position:fixed;
    top:40%;
    left:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:200px;
    border-radius:20px;
    z-index:999;
    box-shadow: 1px 1px 10px red;
    background-color: #ffff;
    transition:.3s;
    color:#0000;
    text-transform: capitalize;
    padding:10px;
}

.errorwrapper p{
    color:#000;
}

@media(max-width:991px){
    .errorwrapper{
        position:fixed;
        top:40%;
        left:12%;
        display: flex;
        justify-content: center;
        align-items: center;
        width:300px;
        height:200px;
        border-radius:20px;
        z-index:999;
        box-shadow: 1px 1px 10px red;
        background-color: #ffff;
        transition:.3s;
        color:#0000;
        text-transform: capitalize;
        padding:10px;
    }
}


.custom-file-label::after{
    background-color: rgb(154,0,255) !important;
    color:#fff;
}